{{define "index/index.htm"}}
{{ template "common/header.htm" }}
{{ with .commonData }}
    {{ template "common/nav.htm" .navs}}
{{ end }}
<div class="container main-container">
    <div class="row">
        <div class="col-md-8">
            {{ range .result}}
                <div class="card home-post-card">
                    <img class="card-img-top" src="http://iph.href.lu/750x300" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ .title }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            {{end}}
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "common/footer.htm" }}
{{end}}
